<div class="container">
  <div class="row mt-4">
    <div class="col-md-12 col-xs-12">
      <h1 class="text-center">Playable keyboards</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="alert alert-primary" *ngIf="keyboards.length === 0">
        No playable keyboards, lock somme in the config menu !
      </div>
      <ul class="keyboards">
        <li *ngFor="let kb of keyboards">
          <a routerLink="/play/{{kb.id}}">
            {{kb.name}} (
            <span class="badge">{{kb.id}}</span>)
          </a>
          <button title="delete keyboard" (click)="delete(kb)">
            x
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>