<div *ngIf="key">
  <h2>{{ key.name | uppercase }}</h2>
  <div>
    <span>id: </span>
    {{key.id}}
  </div>
  <div>
    <button (click)="save()">save</button>
    <label>name:
      <input [(ngModel)]="key.name" placeholder="name" type="text">
    </label>
    <label>src:
      <input [ngClass]="{testSoundSucessful: testSoundSucessful === 1, testSoundFailed: testSoundSucessful === 0}" [(ngModel)]="key.src" placeholder="source file" type="text">
    </label>
    <button (click)="testSound()">Test sound</button>
    <div *ngIf="testSoundSucessful === 1" class="alert alert-success">Sound working !</div>
    <div *ngIf="testSoundSucessful === 0" class="alert alert-danger">Sound error, check source !</div>
  </div>
</div>