<h2>List of keys</h2>

<div>
  <label>Key name:
    <input #keyName />
  </label>
  <label>Source:
    <input #keySrc />
  </label>
  <button (click)="add(keyName.value, keySrc.value); keyName.value=''; keySrc.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let key of keys">
    <a routerLink="/config/{{kb_id}}/keys/{{key.id}}">
      {{key.name}} (<span class="badge">{{key.id}}</span>)
    </a>
    <button class="delete" title="delete key" (click)="delete(key)">
      x
    </button>
  </li>
</ul>