.key {
    border: 1px solid black;
    min-height: 15rem;
    background-color: white;
}

.key_name {
    transform: rotate(90deg);
}

.key:nth-child(even) {
    background-color: black;
    color: white;
}

.key.pressed {
    box-shadow: 2px 5px 5px #555;
    /*left: -0.1em;*/
    top: -0.5em;
}