<div class="container play-kb-detail" *ngIf="keyboard">
  <div class="row">
    <div class="col-sm-12 my-2">
      <button class="btn btn-dark btn-block" (click)="mute()">
        <span *ngIf="!ismute">Mute</span>
        <span *ngIf="ismute">Unmute</span>
      </button>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-12 col-xs-12">
      <h1 class="text-center">{{ keyboard.name | uppercase }}</h1>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-1 key mr-1" [ngClass]="{pressed: !key.enabled}" *ngFor="let key of keyboard.keys" (click)="press(key.id)">
      <h3 class="text-center m-auto">{{key.name}}</h3>
      <h5 *ngIf="key.id !== key.name" class="text-center">{{key.id}}</h5>
      <!--<h1 class="text-center">
                  <span *ngIf="!(key.enabled)">Press</span>
                  <span *ngIf="(key.enabled)">Release</span>
                </h1>-->
    </div>
  </div>
</div>